/* Start NavBar CSS */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.FRGLogo{
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding: 10px;
}

.navBar {
	width: 100%;
	height: min-content;
	margin: 0%;
	padding: 0%;
	border: 0%;
	background-color: rgb(35, 31, 32);s
}

li:hover {
	background: #333;
}

/* End NavBar CSS */




.form-Question {
	align-items: center;
}

.H1Header {
	text-align: center;
	color: rgb(255, 255, 255);
}

.promptsRemaining {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	color: rgb(255, 255, 255);
}

body {
	background-image: url("/Users/nickgray/Desktop/Capstone 11:6/workingfolder/Background1.jpg");
	background-color: #cccccc;
	background-size: 2000px 1000px;
	border: none;
  }



 .links{
	display: inline-block;
 }

#main-holder {
	background-color: rgb(255, 255, 255);
	width: 20%;
	height: 70%;
	margin-top: 20%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

#login-header {
	text-align: center;
}

#login-form {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

#promptsRemaining {
	position: relative;
	font-size: 12px;
	background-color: #3e8e42;
}

#promptText {
	background-color: #040948;
	color: rgb(216, 251, 21);
	padding: 16px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: none;
}
 
