ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.form-Question {
	align-items: center;
}

.H1Header {
	text-align: center;
	color: rgb(255, 255, 255);
}

.promptsRemaining {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	color: rgb(255, 255, 255);
}

body {
	background-image: url("/Users/nickgray/Desktop/Capstone 11:6/workingfolder/Background1.jpg");
	background-color: #cccccc;
	background-size: 2000px 1000px;
  }

.FRGLogo{
	margin-right: auto;
	margin-left: auto;
	display: block;
}

 .links{
	display: inline-block;
 }

#main-holder {
	background-color: #3e8e41;
}
#login-form {
	position:center;
	padding 12px 16px;
	font-weight: bold;
}
#login-error-msg-holder {
	font-weight: bold;
	display: inline-block;
	padding: 16px 20px;
}
#promptsRemaining {
	position: relative;
	font-size: 12px;
	background-color: #3e8e42;
}
#promptText {
	background-color: #040948;
	color: rgb(216, 251, 21);
	padding: 16px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: none;
}
 
