
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start NavBar CSS */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.FRGLogo{
	margin-left: 57%;
	display: block;
	padding: 10px;
	position:static;
}

.navBar {
	width: 100%;
	height: min-content;
	background-color: rgb(35, 31, 32);
}

li:hover {
	background: #333;
}

.NavButtons {
	position: relative;
}

.links{
	display: inline-block;
 }
/* End NavBar CSS */

/* Start Questions CSS */

.form-Question {
	align-items: center;
}

.H1Header {
	text-align: center;
	color: rgb(255, 255, 255);
}

#login-form {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

#promptText {
	background-color: #040948;
	color: rgb(216, 251, 21);
	padding: 16px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: none;
}

#prompt-form {
	text-align: center;
}

/* End Questions CSS */

/* Start Body CSS */

body {
	background-image: url("Background1.jpg");
	background-color: #cccccc;
	background-size: 2000px 1000px;
	border: none;
	font-family: 'Poppins', sans-serif;
  }

#login-header {
	text-align: center;
}

/* End Body CSS */

/* Specific HomePage.html CSS */

.promptsRemainingWrapper {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 25px;
	padding: 5%;
	margin: 5%;
}

.promptsRemaining {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	color: rgb(0, 0, 0);
}

#promptsRemaining {
	position: relative;
	font-size: 12px;
	background-color: #3e8e42;
}

/* END HomePage.html CSS */

/* Specific Prompts.html CSS */

.questionsWrapper{
	padding: 5%;
	margin: 5%;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 25px;
}

/* End Prompts.html CSS */

/* Specific loginpage copy.php CSS */

#form-holder {
	background-color: rgba(255, 255, 255, 0.7);
	width: 20%;
	height: 70%;
	margin-top: 20%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

/* End loginpage copy.php CSS */

/*prompt questions admin prompts css*/
.adminprompts {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
}